.special-card {
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 30px 0 0;
  height: 100%;
  border-radius: 16px;
  background: #F4F6FA;
}

.special-card--tall {
  color: #fff;
  background: #5e81ff;
}

.special-card__top {
  display: grid;
  gap: 8px;
  padding-left: 30px;
}

.special-card__heading {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}

.special-card--tall .special-card__heading {
  color: #fff;
}

.special-card__text {
  margin: 0;
  font-size: 15px;
  line-height: 20px;
}

.special-card__list {
  list-style-type: disc;
  display: grid;
  gap: 14px;
  margin: 0;
  padding-left: 18px;
  width: 198px;
}

.special-card__item {
  font-size: 15px;
  line-height: 20px;
}

.special-card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
}

.special-card__more {
  margin-bottom: 30px;
  width: 40px;
  height: 40px;
}

.special-card--tall .special-card__more {
  background: #ff8516;;
}